<table class="fancy-table-test">
    <thead>
        <tr>
            <th></th>
            <th>Players</th>
            <th>Version</th>
            <th>Location</th>
            <th>Platform</th>
            <th>Code</th>
        </tr>
    </thead>
    <tbody>
        {% for game in games %}
            <tr style="cursor: pointer;" onclick="document.location = '{{ game.webDetailUrl }}'; return false;">
                <td>
                    <div class="inner">
                        {% if game.coverUrl %}
                            <img class="cover-art" src="{{ game.coverUrl }}" alt="{{ game.levelName }}" loading="lazy"/>
                        {% else %}
                            <div class="cover-art dummy-cover-art">
                                {% if game.getIsPlayingLevel() %}
                                    <i class="mdi mdi-music"></i>
                                {% else %}
                                    <i class="mdi mdi-new-box"></i>
                                {% endif %}
                            </div>
                        {% endif %}
                        <div class="stacked-text">
                            <a href="{{ game.webDetailUrl }}">{{ game.gameName }}</a>
                            <div>
                                {% if game.getIsPlayingLevel() %}
                                    <i class="mdi mdi-gamepad"></i>
                                    <span class="level-limit" title="{{ game.levelName }} on {{ game.describeDifficulty }}">Playing {{ game.levelName }} ({{ game.describeDifficulty() }})</span>
                                {% else %}
                                    <i class="mdi mdi-account-group"></i>
                                    <span class="level-limit">{{ game.describeState() }}</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="player-count">{{ game.playerCount }} / {{ game.playerLimit }}</div>
                </td>
                <td>
                    {{ game.gameVersion }}
                </td>
                <td>
                    <img src="/static/flags/us.png"/>
                    New York, US
                </td>
                <td>
                    <div class="inner">
                        <div class="stacked-text -smaller">
                            <span>{{ game.describeServerType() }}</span>
                            {% if game.getIsGameLiftServer() %}
                                <span>GameLift ({{ game.tryGetGameLiftRegion() }})</span>
                            {% else %}
                                <span>{{ game.masterServerHost }}</span>
                            {% endif %}
                        </div>
                    </div>
                </td>
                <td>
                    <code>{{ game.serverCode }}</code>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>