<table class="fancy-table-test">
    <thead>
        <tr>
            <th>&nbsp;</th>
            <th>Players</th>
            <th>Version</th>
            <th>Location</th>
            <th>Platform</th>
            <th>Code</th>
        </tr>
    </thead>
    <tbody>
        {% for game in games %}
            <tr>
                <td>
                    <div class="inner">
                        <img class="cover-art" src="{{ game.coverUrl }}" alt="CoverArtName" loading="lazy"/>
                        <div class="stacked-text">
                            <a href="{{ game.webDetailUrl }}">{{ game.gameName }}</a>
                            <div>
                                <i class="mdi mdi-gamepad"></i>
                                <span class="level-limit" title="{{ game.levelName }} on {{ game.describeDifficulty }}">Playing {{ game.levelName }} ({{ game.describeDifficulty() }})</span>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="player-count">{{ game.playerCount }} / {{ game.playerLimit }}</div>
                </td>
                <td>
                    {{ game.gameVersion }}
                </td>
                <td>
                    <img src="/static/flags/us.png"/>
                    New York, US
                </td>
                <td>
                    <div class="inner">
                        <div class="stacked-text -smaller">
                            <span>{{ game.describeServerType() }}</span>
                            <span>{{ game.masterServerHost }}</span>
                        </div>
                    </div>
                </td>
                <td>
                    <code>{{ game.serverCode }}</code>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>