{% set levelIndex = 0  %}
<table class="rounded-table -extra-spacing-h">
    <thead>
        <tr>
            <th width="75">#</th>
            <th>Cover</th>
            <th>Level</th>
            <th>Author</th>
            <th>Plays</th>
        </tr>
    </thead>
    <tbody>
    {% for level in levels %}
        <tr>
            <td>
                {% set levelIndex = levelIndex + 1 %}
                #{{ levelIndex }}
                {% if levelIndex <= 3 %}
                    <i class="mdi mdi-trophy rank-trophy rank-trophy-{{ levelIndex }}"></i>
                {% endif %}
            </td>
            {% include "bits/cover-art-cell.twig" with {coverUrl: level.coverUrl, levelId: level.levelId,
                altText: level.describeSong() } %}
            <td>
                <strong class="break-word">
                    {% if level.beatsaverId %}
                        <a href="https://beatsaver.com/beatmap/{{ level.beatsaverId }}" target="_blank" title="View on BeatSaver">
                            {{ level.name }}
                        </a>
                    {% else %}
                        {{ level.name }}
                    {% endif %}
                </strong>
            </td>
            <td>
                {% if level.levelAuthor %}
                    {{ level.levelAuthor }}
                {% elseif level.songAuthor %}
                    {{ level.songAuthor }}
                {% else %}
                    -
                {% endif %}
            </td>
            <td>{{ level.statPlayCount|number_format(0, ',') }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>