{% set levelIndex = 0  %}
<table class="table table-bordered table-striped">
    <thead class="thead-dark">
    <tr>
        <th width="20"></th>
        <th></th>
        <th>Name</th>
        <th>Author</th>
        <th>Plays</th>
    </tr>
    </thead>
    <tbody>
    {% for level in levels %}
        <tr>
            <td>
                {% set levelIndex = levelIndex + 1 %}
                #{{ levelIndex }}
            </td>
            <td class="cover-art-cell">
                {% if level.coverUrl %}
                    <img src="{{ level.coverUrl }}" alt="{{ level.describeSong() }}" height="25" class="cover-art"/>
                {% else %}
                    <span class="huh">
                                            <i class="mdi mdi-music"></i>
                                        </span>
                {% endif %}
            </td>
            <td>
                <strong class="break-word">
                    {% if level.beatsaverId %}
                        <a href="https://beatsaver.com/beatmap/{{ level.beatsaverId }}" target="_blank" title="View on BeatSaver">
                            {{ level.name }}
                        </a>
                    {% else %}
                        {{ level.name }}
                    {% endif %}
                </strong>
            </td>
            <td>
                {% if level.levelAuthor %}
                    {{ level.levelAuthor }}
                {% elseif level.songAuthor %}
                    {{ level.songAuthor }}
                {% else %}
                    -
                {% endif %}
            </td>
            <td>{{ level.statPlayCount|number_format(0, ',') }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>