<div class="level-tags">

    {# Difficulty #}
    {% if historyItem.difficulty is not null %}
        <span class="tag difficulty -diff-{{ historyItem.difficulty }}">{{ historyItem.describeDifficulty() }}</span>
    {% elseif game.difficulty is not null %}
        <span class="tag difficulty -diff-{{ game.difficulty }}">{{ game.describeDifficulty() }}</span>
    {% endif %}

    {# Characteristic #}
    {% if historyItem.characteristic is not null %}
        <span class="tag characteristic characteristic-{{ historyItem.characteristic }}">
            {% set descr = historyItem.describeCharacteristic() %}
            {% set iconUrl = historyItem.getCharacteristicIcon() %}
            {% if iconUrl %}
                <img src="{{ iconUrl }}" alt="{{ descr }}"/>
            {% endif %}
            <span>{{ descr }}</span>
        </span>
    {% elseif game.characteristic is not null %}
        <span class="tag characteristic characteristic-{{ game.characteristic }}">
            {% set descr = game.describeCharacteristic() %}
            {% set iconUrl = game.getCharacteristicIcon() %}
            {% if iconUrl %}
                <img src="{{ iconUrl }}" alt="{{ descr }}"/>
            {% endif %}
            <span>{{ descr }}</span>
        </span>
    {% endif %}

    {# Modifiers #}
    {% for modifierTag in historyItem.getModifierTags() %}
        <span class="tag modifier modifier-{{ modifierTag.key }}">
            {% if modifierTag.icon %}
                <img src="{{ modifierTag.icon }}" alt="{{ modifierTag.text }}"/>
            {% endif %}
            <span>{{ modifierTag.text }}</span>
        </span>
    {% endfor %}

    <div class="space"></div>

    {# Player result badge #}
    {% if historyItem.badgeKey %}
        <span class="tag -with-tooltip badge badge-{{ historyItem.badgeKey }}" title="{{ historyItem.badgeSubtitle }}">
            {% set descr = historyItem.describeBadge() %}
            {% set iconUrl = historyItem.getBadgeIcon() %}
            {% if iconUrl %}
                <img src="{{ iconUrl }}" alt="{{ descr }}"/>
            {% endif %}
            <span>{{ descr }}</span>
        </span>
    {% endif %}

</div>