<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="{{ pageDescr ? pageDescr : 'Beat Saber modification that adds a browser for custom multiplayer games.' }}">
<title>{% if pageTitle %}{{ pageTitle }} - {% endif %}Beat Saber Server Browser · BSSB</title>
<link rel="canonical" href="https://bssb.app{{ pageUrl }}">
<link href="/static/bssb.css?v={{ version_hash_short }}" rel="stylesheet">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#603cba">
<meta name="theme-color" content="#9f00a7">
{% if noIndex %}<meta name="robots" content="noindex, follow">{% endif %}
{% if ldJson is defined %}
<script type="application/ld+json">
{{ ldJson|json_encode(constant('JSON_PRETTY_PRINT'))|raw }}
</script>
{% endif %}
</head>
<body>

    <header>
        <div class="container">
            <a class="brand" href="/">
                <img src="/android-chrome-192x192.png" height="48" width="48" alt="BSSB Icon"/>
                <div class="text">
                    <span>Beat Saber</span>
                    <span>Server Browser</span>
                </div>
            </a>
            <nav class="nav">
                <a>
                    <i class="mdi mdi-home"></i>
                    <span>Overview</span>
                </a>
                <a>
                    <i class="mdi mdi-tray-arrow-down"></i>
                    <span>Download</span>
                </a>
                <a>
                    <i class="mdi mdi-poll"></i>
                    <span>Statistics</span>
                </a>
                <a>
                    <i class="mdi mdi-book-open-variant"></i>
                    <span>Multiplayer Guide</span>
                </a>
            </nav>
            <div class="auth">
                <a class="steam-login">
                    <i class="mdi mdi-steam"></i>
                    <span>Log in with Steam</span>
                </a>
            </div>
        </div>
    </header>

</body>
</html>
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/@mdi/font@6.5.95/css/materialdesignicons.min.css">