{% extends "_base.twig" %}

{% set pageTitle = 'Game: ' ~ game.gameName %}

{% block main %}
    <main role="main" class="container-fluid">
        <div class="content-page">

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Server Browser</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Game detail</li>
                </ol>
            </nav>

            <div class="game-detail">

                <h1>{{ game.gameName }}</h1>

                <hr />

                {% if game.getIsPirate() %}
                    <div class="alert alert-warning">
                        <strong>🏴‍☠️ <span>Ahoy there. This here 'ost be a gentleman o' fortune!</span></strong><br />
                        <span>Pirates sometimes share the same host ID or randomize it, so game data may not be reliable.</span><br />
                        <br />
                        <span><strong>You should <a href="https://store.steampowered.com/app/620980/Beat_Saber/" target="_blank">buy the game</a> if you enjoy it!</strong></span>
                    </div>
                {% endif %}

                {% if game.getIsUninteresting() %}
                    <div class="alert alert-danger">
                        🤖 Game was hidden automatically (game is not relevant)
                    </div>
                {% elseif game.endedAt is not null %}
                    <div class="alert alert-danger">
                        This game has ended and can no longer be joined.
                    </div>
                {% endif %}

                {% if game.getIsStale() and game.endedAt is null %}
                    <div class="alert alert-danger">
                        We stopped receiving data for this game, it's probably dead.
                    </div>
                {% endif %}

                {% if not game.masterServerHost and not game.endpoint %}
                    <div class="alert alert-warning">
                        This game was added with an older version of the Server Browser mod, cross-play may not work as expected.
                    </div>
                {% endif %}

                <div class="row">
                    <div class="col-sm">

                        <div class="card">
                            <h5 class="card-header">
                                Server details
                            </h5>
                            <table class="card-table table table-bordered">
                                <tbody>
                                {% if (players is not defined or players|length == 0) and not game.getIsQuickplay() %}
                                    <tr>
                                        <th scope="row">Host player</th>
                                        <td>{{ game.ownerName ? game.ownerName : "Unknown" }}</td>
                                    </tr>
                                {% endif %}
                                <tr>
                                    <th scope="row">{{ game.getIsStale() or game.endedAt is not null ? 'Last status' : 'Current status' }}</th>
                                    <td>{{ game.describeState() }} ({{ game.playerCount }} of {{ game.playerLimit }} players)</td>
                                </tr>
                                {% if game.difficulty is not null %}
                                    <tr>
                                        <th scope="row">{{ game.getIsPlayingLevel() ? "Current difficulty" : "Last difficulty" }}</th>
                                        <td><span class="difficulty-txt -d{{ game.difficulty }}">{{ game.describeDifficulty() }}</span></td>
                                    </tr>
                                {% endif %}
                                <tr>
                                    <th scope="row">Server type</th>
                                    <td>{{ game.describeServerType() }}</td>
                                </tr>
                                {% if game.gameVersion %}
                                    <tr>
                                        <th scope="row">Game version</th>
                                        <td>Beat Saber {{ game.gameVersion }}</td>
                                    </tr>
                                {% endif %}
                                <tr>
                                    <th scope="row">Modded</th>
                                    <td>
                                        {% if game.mpExVersion %}
                                            <i class="mdi mdi-check-circle"></i>
                                            MultiplayerExtensions v{{ game.mpExVersion }}
                                        {% elseif game.isModded %}
                                            <i class="mdi mdi-check-circle"></i>
                                            Game is modded
                                        {% else %}
                                            <i class="mdi mdi-lock"></i>
                                            Vanilla (custom songs off)
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Master server</th>
                                    <td>
                                        {% if not game.masterServerHost and game.endpoint %}
                                            Direct connection (<code>{{ game.endpoint }}</code>)
                                        {% else %}
                                            {% if game.getIsOfficial() %}
                                                {% if game.platform == "steam" %}
                                                    <i class="mdi mdi-steam"></i> Steam
                                                {% elseif game.platform == "oculus" %}
                                                    {% include "oculus_icon.twig"%} Oculus
                                                {% else %}
                                                    <i class="mdi mdi-head-question"></i> Unknown
                                                {% endif %}
                                            {% else %}
                                                <i class="mdi mdi-connection"></i> Unofficial cross-play
                                            {% endif %}
                                            {% if game.masterServerHost %}
                                                (<code>{{ game.masterServerHost }}:{{ game.masterServerPort ? game.masterServerPort : 2328 }}</code>)
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                </tr>
                                {% if not game.getIsOfficial() %}
                                    <tr>
                                        <th scope="row">Host platform</th>
                                        <td>
                                            {% if game.platform == "steam" %}
                                                <i class="mdi mdi-steam"></i> Steam
                                            {% elseif game.platform == "oculus" %}
                                                {% include "oculus_icon.twig"%} Oculus
                                            {% else %}
                                                {% if game.getIsBeatDedi() %}
                                                    <i class="mdi mdi-server"></i> Dedicated Server
                                                {% else %}
                                                    <i class="mdi mdi-head-question"></i> Unknown
                                                {% endif %}
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endif %}
                                {% if game.modVersion %}
                                    <tr>
                                        <th scope="row">Browser version</th>
                                        {% if game.getIsBeatDedi() %}
                                            <td>BeatDedi {{ game.modVersion }}</td>
                                        {% else %}
                                            <td>Server Browser {{ game.modVersion }}</td>
                                        {% endif %}
                                    </tr>
                                {% endif %}
                                <tr>
                                    <th scope="row">First seen</th>
                                    <td>{{ game.firstSeen.format('r')|timeago_html|raw }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Last update</th>
                                    <td>{{ game.lastUpdate.format('r')|timeago_html|raw }}</td>
                                </tr>
                                {% if game.endedAt is not null %}
                                    <tr>
                                        <th scope="row">Ended at</th>
                                        <td>{{ game.endedAt.format('r')|timeago_html|raw }}</td>
                                    </tr>
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                        <br />

                        {% if players is defined and players|length > 0 %}
                            <div class="card">
                                <h5 class="card-header">
                                    Player list
                                </h5>
                                <table class="card-table table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Player</th>
                                        <th>Latency</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for player in players %}
                                        <tr class="{{ player.isConnected ? "connected-player" : "disconnected-player" }}">
                                            <td>{{ player.sortIndex }}</td>
                                            <td>
                                                <span>{{ player.userName }}</span>
                                                {% if player.isHost %}
                                                    <span class="badge bg-primary" data-toggle="tooltip"
                                                          data-placement="bottom"
                                                          title="This player is hosting the game server">
                                                        👑 Host</span>
                                                {% endif %}
                                                {% if player.getIsPirate() %}
                                                    <span class="badge bg-dark" data-toggle="tooltip"
                                                          data-placement="bottom"
                                                          title="It looks like this player is a dirty stinking pirate">
                                                        ☠ Pirate</span>
                                                {% endif %}
                                                {% if player.getIsBot() %}
                                                    <span class="badge bg-success" data-toggle="tooltip"
                                                          data-placement="bottom"
                                                          title="This is a robot, not a real player">
                                                        🤖 Bot</span>
                                                {% endif %}
                                                {% if player.sortIndex < 0 %}
                                                    <span class="badge bg-secondary" data-toggle="tooltip"
                                                          data-placement="bottom"
                                                          title="This player slot is not visible in the lobby">
                                                        👻 Ghost</span>
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if player.isHost %}
                                                    <span>Local</span>
                                                {% elseif not player.isConnected %}
                                                    <span>Disconnected</span>
                                                {% elseif not player.latency %}
                                                    <span>Just joined</span>
                                                {% else %}
                                                    {{ player.describeLatency() }}
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <br />
                        {% endif %}

                    </div>
                    <div class="col-sm">

                        {% if game.getIsQuickplay() %}
                            <div class="card">
                                <h5 class="card-header">
                                    {% include "bits/quickplay_icon.twig" %}
                                    <span>Quick Play server</span>
                                </h5>
                                <div class="card-body">
                                    <p><strong>Use the ingame Server Browser to connect.</strong></p>
                                    You cannot connect to Quick Play lobbies using a Server Code! <small class="muted">(although they do have one for some reason)</small>
                                </div>
                            </div>
                            <br />
                        {% endif %}

                        {% if not game.getIsStale() and game.ended_at is null and game.serverCode %}
                            <div class="card">
                                <h5 class="card-header">Server code</h5>
                                <div class="card-body server-code">{{ game.serverCode }}</div>
                            </div>
                            <br />
                        {% endif %}

                        {% if level %}
                            <div class="card -level">
                                <h5 class="card-header">
                                    {% if game.getIsPlayingLevel() %}
                                        Current level
                                    {% else %}
                                        Last level
                                    {% endif %}
                                </h5>
                                <div class="card-body">
                                    {% if level.coverUrl %}<div class="bg" style="background-image:url('{{ level.coverUrl }}');"></div>{% endif %}
                                    <div class="media">
                                        {% if level.coverUrl %}
                                            <img src="{{ level.coverUrl }}" class="mr-3" alt="{{ level.name }}" width="125">
                                        {% endif %}
                                        <div class="media-body">
                                            <h5 class="mt-0">{{ level.name }}</h5>
                                            <table width="100%">
                                                <tbody>
                                                {% if level.songName %}
                                                    <tr>
                                                        <th scope="row">Song name</th>
                                                        <td>{{ level.songName }}</td>
                                                    </tr>
                                                {% endif %}
                                                {% if level.songAuthor %}
                                                    <tr>
                                                        <th scope="row">Song author</th>
                                                        <td>{{ level.songAuthor }}</td>
                                                    </tr>
                                                {% endif %}
                                                {% if level.levelAuthor %}
                                                    <tr>
                                                        <th scope="row">Level author</th>
                                                        <td>{{ level.levelAuthor }}</td>
                                                    </tr>
                                                {% endif %}
                                                {% if level.duration %}
                                                    <tr>
                                                        <th scope="row">Duration</th>
                                                        <td>{{ level.describeDuration() }}</td>
                                                    </tr>
                                                {% endif %}
                                                {% if level.beatsaverId %}
                                                    <tr>
                                                        <td colspan="2"><a href="https://beatsaver.com/beatmap/{{ level.beatsaverId }}" class="btn btn-primary" title="View on BeatSaver" target="_blank" style="margin-top: 10px;">BeatSaver</a></td>
                                                    </tr>
                                                {% endif %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                        {% endif %}

                    </div>
                </div>

            </div>

        </div>
    </main>
{% endblock %}