{% extends "_base.twig" %}

{% set pageTitle = 'Game: ' ~ game.gameName %}

{% block main %}
    <main role="main" class="container-fluid">
        <div class="content-page">

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Server Browser</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Game detail</li>
                </ol>
            </nav>

            <div class="game-detail">

                <h1>{{ game.gameName }}</h1>

                <hr />

                {% if game.endedAt is not null %}
                    <div class="alert alert-danger">
                        This game has ended and can no longer be joined.
                    </div>
                {% endif %}

                {% if game.getIsStale() and game.endedAt is null %}
                    <div class="alert alert-danger">
                        We stopped receiving data for this game, it's probably dead.
                    </div>
                {% endif %}

                {% if not game.masterServerHost %}
                    <div class="alert alert-warning">
                        This game was added with an older version of the Server Browser mod, cross-play may not work as expected.
                    </div>
                {% endif %}

                <div class="row">
                    <div class="col-7">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <th scope="row">Host player</th>
                                    <td>{{ game.ownerName ? game.ownerName : "Unknown" }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">{{ game.getIsStale() or game.endedAt is not null ? 'Last status' : 'Current status' }}</th>
                                    <td>{{ game.describeState() }} ({{ game.playerCount }} of {{ game.playerLimit }} players)</td>
                                </tr>
                                {% if game.difficulty is not null and game.levelId %}
                                <tr>
                                    <th scope="row">{{ game.lobbyState == 3 ? "Current  difficulty" : "Last difficulty" }}</th>
                                    <td><span class="difficulty-txt -d{{ game.difficulty }}">{{ game.describeDifficulty() }}</span></td>
                                </tr>
                                {% endif %}
                                <tr>
                                    <th scope="row">Modded</th>
                                    <td>
                                        {% if game.isModded %}
                                            <i class="mdi mdi-check-circle"></i>
                                            MultiplayerExtensions enabled
                                        {% else %}
                                            <i class="mdi mdi-lock"></i>
                                            Vanilla (custom songs off)
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Server</th>
                                    <td>
                                        {% if game.getIsOfficial() %}
                                            {% if game.platform == "steam" %}
                                                <i class="mdi mdi-steam"></i> Steam
                                            {% elseif game.platform == "oculus" %}
                                                <i class="mdi mdi-facebook-gaming"></i> Oculus
                                            {% else %}
                                                <i class="mdi mdi-head-question"></i> Unknown
                                            {% endif %}
                                        {% else %}
                                            <i class="mdi mdi-connection"></i> Unofficial
                                        {% endif %}

                                        {% if game.masterServerHost %}
                                            (<code>{{ game.masterServerHost }}:{{ game.masterServerPort ? game.masterServerPort : 2328 }}</code>)
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Cross-play</th>
                                    <td>
                                        {% if game.getIsOfficial() %}
                                            No (official server)
                                        {% else %}
                                            <i class="mdi mdi-check-circle"></i>
                                            Yes (unofficial server)
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">First seen</th>
                                    <td>{{ game.firstSeen.format('r') }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Last update</th>
                                    <td>{{ game.lastUpdate.format('r') }}</td>
                                </tr>
                                {% if game.endedAt is not null %}
                                <tr>
                                    <th scope="row">Ended at</th>
                                    <td>{{ game.endedAt.format('r') }}</td>
                                </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                    <div class="col-5">
                        {% if not game.getIsStale() and game.ended_at is null %}
                            <div class="card">
                                <h5 class="card-header">Server code</h5>
                                <div class="card-body server-code">{{ game.serverCode }}</div>
                            </div>
                        {% endif %}
                        <br />
                        {% if level %}
                        <div class="card">
                            <h5 class="card-header">
                                {% if game.lobbyState == 3 %}
                                    Current level
                                {% else %}
                                    Last level
                                {% endif %}
                            </h5>
                            <div class="card-body">
                                <div class="media">
                                    {% if level.coverUrl %}
                                        <img src="{{ level.coverUrl }}" class="mr-3" alt="{{ level.name }}" width="125">
                                    {% endif %}
                                    <div class="media-body">
                                        <h5 class="mt-0">{{ level.name }}</h5>
                                        <table width="100%">
                                            <tbody>
                                                {% if level.songName %}
                                                    <tr>
                                                        <th scope="row">Song name</th>
                                                        <td>{{ level.songName }}</td>
                                                    </tr>
                                                {% endif %}
                                                {% if level.songAuthor %}
                                                    <tr>
                                                        <th scope="row">Song author</th>
                                                        <td>{{ level.songAuthor }}</td>
                                                    </tr>
                                                {% endif %}
                                                {% if level.levelAuthor %}
                                                    <tr>
                                                        <th scope="row">Level author</th>
                                                        <td>{{ level.levelAuthor }}</td>
                                                    </tr>
                                                {% endif %}
                                                {% if level.duration %}
                                                    <tr>
                                                        <th scope="row">Duration</th>
                                                        <td>{{ level.describeDuration() }}</td>
                                                    </tr>
                                                {% endif %}
                                            </tbody>
                                        </table>
                                    </div>
                                    {% if level.beatsaverId %}
                                        <a href="https://beatsaver.com/beatmap/{{ level.beatsaverId }}" class="btn btn-primary" title="View on BeatSaver" target="_blank">BeatSaver</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>

        </div>
    </main>
{% endblock %}