<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Beat Saber modification that adds a browser for custom multiplayer games.">
    <title>Server Browser for Beat Saber · BSSB</title>
    <link rel="canonical" href="https://bssb.app">
    <link href="static/vendor/bootstrap.min.css" rel="stylesheet">
    <link href="static/bssb.css" rel="stylesheet">
</head>
<body>
    {% include "navbar.twig" %}
    <main role="main" class="container">
        <div class="starter-template">
            <h1>Beat Saber Server Browser</h1>
            <p class="lead">It's a mod. You could <a href="https://github.com/roydejong/BeatSaberServerBrowser/releases/latest">download it</a>, if you wanted to.</p>
        </div>
        <div class="alert alert-warning">This is the new site / API and it's still under development so why are you here?</div>
        <table class="table table-bordered table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th colspan="2">Game</th>
                    <th>Level</th>
                    <th>Players</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody>
                {% for game in games %}
                    <tr>
                        <td class="cover-art-cell">
                            {% if game.coverUrl %}
                                <img src="{{ game.coverUrl }}" alt="{{ game.describeSong() }}" height="25" class="cover-art"/>
                            {% else %}
                                <span class="huh">?</span>
                            {% endif %}
                        </td>
                        <td class="align-middle">
                            <strong>{{ game.gameName }}</strong>
                        </td>
                        <td class="align-middle">
                            {% if game.levelName %}
                                {{ game.levelName }}
                            {% else %}
                                {{ game.describeSong() }}
                            {% endif %}
                        </td>
                        <td class="align-middle">{{ game.playerCount }}/{{ game.playerLimit }}</td>
                        <td class="align-middle">
                            {% if game.platform == "steam" %}
                                <i class="mdi mdi-steam"></i> Steam
                            {% elseif game.platform == "oculus" %}
                                <i class="mdi mdi-facebook-gaming"></i> Oculus
                            {% else %}
                                <i class="mdi mdi-head-question"></i> Unknown
                            {% endif %}
                            <small>({{ game.describeMasterServer() }})</small>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                       <td colspan="100" class="no-results-cell">
                           <i class="mdi mdi-emoticon-sad-outline"></i>
                           <span>No active games right now</span>
                       </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>

    <link href="/static/vendor/materialdesignicons.min.css" rel="stylesheet">

    <script src="/static/vendor/jquery-3.5.1.slim.min.js"></script>
    <script src="/static/vendor/bootstrap.bundle.min.js"></script>

</body>
</html>
