{% extends "_base.twig" %}

{% set tab = "stats" %}

{% block main %}
<main role="main" class="container-fluid">
    <div class="content-page">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Server Browser</a></li>
                <li class="breadcrumb-item"><a href="/stats">Stats</a></li>
                <li class="breadcrumb-item active" aria-current="page">Master Server List</li>
            </ol>
        </nav>

        <div class="stats-page">

            <h1>Master Server List</h1>
            <p class="lead">An overview of all known master servers. These are official servers, and servers provided by the modding community.</p>

            <hr />

            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                <tr>
                    <th>Hostname</th>
                    <th>Endpoint</th>
                    <th>Location (GeoIP)</th>
                    <th width="111">Games (all)</th>
                    <th width="111">Games (7d)</th>
                    <th>Last seen</th>
                </tr>
                </thead>
                <tbody>
                    {% for server in servers %}
                        <tr>
                            <td>
                                {% if loop.index <= 3 %}
                                    <i class="mdi mdi-trophy rank-trophy rank-trophy-{{ loop.index }}"></i>
                                {% endif %}
                                <strong>{{ server.master_server_host }}</strong>
                                {% if server.is_official %}
                                    <i class="mdi mdi-check-decagram is-official" data-toggle="tooltip"
                                       data-placement="bottom" title="Official Server"></i>
                                {% endif %}
                            </td>
                            <td><code>{{ server.ip_address }}:{{ server.master_server_port }}</code></td>
                            <td>
                                {% set geo = geoData[server.ip_address] %}
                                {% if geo and geo.text %}
                                    {% if geo.countryCode %}
                                        <img src="/static/flags/{{ geo.countryCode|lower }}.png" alt="{{ geo.countryCode }}"/>
                                    {% endif %}
                                    <span>{{ geo.text }}</span>
                                {% else %}
                                    <span>-</span>
                                {% endif %}
                            </td>
                            <td>{{ server.game_count|number_format(0, ',') }}</td>
                            <td>
                                {% set seenThisWeek = false %}
                                {% if sevenDayGameCounts[server.master_server_host] %}
                                    {{ sevenDayGameCounts[server.master_server_host]|number_format(0, ',') }}
                                    {% set seenThisWeek = true %}
                                {% else %}
                                    0
                                {% endif %}
                            </td>
                            <td class="{% if not seenThisWeek %}-stale{% else %}-success{% endif %}">
                                {{ server.max_last_update|timeago_html|raw }}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="100" class="no-results-cell">
                                <i class="mdi mdi-emoticon-sad-outline"></i>
                                <span>No master servers found</span>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>

    </div>
</main>
{% endblock %}