{% extends "_base.twig" %}

{% block main %}
    <main role="main" class="container-fluid">
        <div class="content-page">

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Server Browser</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Player detail</li>
                </ol>
            </nav>

            <div class="player-detail">

                <h1><strong>{{ player.getDisplayName() }}</strong></h1>

                <hr />

                <div class="row">
                    <div class="col-md-9">

                        {% set anyData = 0 %}

                        {% if activeGames and activeGames|length > 0 %}
                            {% set anyData = 1 %}
                            <h4>{{ activeGames|length == 1 ? "Current game" : "Active games" }}</h4>
                            {% for game in activeGames %}
                                {% include "bits/player_server_card.twig" %}
                            {% endfor %}
                        {% endif %}

                        {% if anyData %}<hr/>{% endif %}

                        {% if recentGames and recentGames|length > 0 %}
                            {% set anyData = 1 %}
                            <h4>Recent games</h4>
                            {% for game in recentGames %}
                                {% include "bits/player_server_card.twig" %}
                            {% endfor %}
                        {% endif %}

                        {% if not anyData %}
                            <div class="alert alert-danger">No game history found</div>
                        {% endif %}

                    </div>
                    <div class="col-md-3">
                        <div class="card" id="avatar-render">
                            <p class="avatar-disclaim">Avatar preview loading...</p>
                        </div>
                        <br />
                        <div class="card">
                            <table class="card-table -fully-rounded table table-bordered">
                                <tbody>
                                    <tr>
                                        <th scope="row">User type</th>
                                        <td>{{ player.describeType() }}</td>
                                    </tr>
                                    {% if player.platformType %}
                                        <tr>
                                            <th scope="row">Platform</th>
                                            <td>
                                                {% if player.platformType == "steam" %}
                                                    <i class="mdi mdi-steam"></i>
                                                    <span>Steam</span>
                                                {% elseif player.platformType == "oculus" %}
                                                    {% include "oculus_icon.twig"%}
                                                    <span>Oculus</span>
                                                {% else %}
                                                    {{ player.platformType }}
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endif %}
                                    <tr>
                                        <th scope="row">Last seen</th>
                                        {% if activeNow %}
                                            <td><div class="active-lamp -on"></div> Active now</td>
                                        {% else %}
                                            <td>{{ player.lastSeen.format('r')|timeago_html|raw }}</td>
                                        {% endif %}
                                    </tr>
                                    <tr>
                                        <th scope="row">First seen</th>
                                        <td>{{ player.firstSeen.format('r')|timeago_html|raw }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="profile-links">
                            {% if player.platformType == "steam" and player.platformUserId %}
                                <a href="https://steamcommunity.com/profiles/{{ player.platformUserId }}" target="_blank" title="ScoreSaber Profile" class="btn btn-primary">
                                    <i class="mdi mdi-steam"></i>
                                    <span>Steam Profile</span>
                                </a>
                            {% endif %}
                            {% if player.platformUserId %}
                                <a href="https://scoresaber.com/u/{{ player.platformUserId }}" target="_blank" title="ScoreSaber Profile" class="btn btn-primary">
                                    <img src="/static/icons/ScoreSaber.svg" alt="ScoreSaber" height="18" width="18"/>
                                    <span>ScoreSaber Profile</span>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </main>
{% endblock %}

{% block scripts %}
    <script src="/static/bsavatar/BeatSaberAvatar.js" async defer></script>
    <script>
        window.addEventListener('load', function () {
            const renderTarget = document.getElementById('avatar-render');
            const avatarData = {{ avatarData|json_encode|raw }};
            BeatSaberAvatar.setup(renderTarget, avatarData, {
                assetsBaseDir: "/static/bsavatar/",
                enableControls: true,
                rotateAnimation: true,
                enableGlasses: false,
                enableFacialHair: false
            });
        });
    </script>
{% endblock %}