{% extends "_base.twig" %}

{% set pageTitle = 'Statistics' %}
{% set tab = "stats" %}

{% block main %}
    <main role="main" class="container-fluid">
        <div class="content-page">

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Server Browser</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Stats</li>
                </ol>
            </nav>

            <div class="stats-page">

                <h1>Statistics</h1>
                <p class="lead">Just for fun!</p>
                <hr />

                <div class="metrics">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card" title="Tally of unique player hosts we've seen, since the mod launched.">
                                <div class="card-body">
                                    <h6 class="card-subtitle mb-2 text-muted">
                                        <i class="mdi mdi-account-star"></i>
                                        Unique hosts seen, all-time
                                    </h6>
                                    <span class="stat-value">{{ stats.uniqueHostCount }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card" title="Tally of unique levels we've seen in lobbies, since the mod launched.">
                                <div class="card-body">
                                    <h6 class="card-subtitle mb-2 text-muted">
                                        <i class="mdi mdi-music"></i>
                                        Unique levels seen, all-time
                                    </h6>
                                    <span class="stat-value">{{ stats.uniqueLevelCount }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card" title="">
                                <div class="card-body">
                                    <h6 class="card-subtitle mb-2 text-muted">
                                        <i class="mdi mdi-play"></i>
                                        Total games played, since 2021-01-15
                                    </h6>
                                    <span class="stat-value">{{ stats.totalPlayStat }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr />

                <section>
                    <h4>Top 10 levels</h4>
                    <p class="lite">Since 2021-01-15</p>
                    <table class="table table-bordered table-striped">
                        <thead class="thead-dark">
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Author</th>
                            <th>Plays</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for level in stats.topLevels %}
                            <tr>
                                <td class="cover-art-cell">
                                    {% if level.coverUrl %}
                                        <img src="{{ level.coverUrl }}" alt="{{ level.describeSong() }}" height="25" class="cover-art"/>
                                    {% else %}
                                        <span class="huh">
                                            <i class="mdi mdi-music"></i>
                                        </span>
                                    {% endif %}
                                </td>
                                <td>
                                    <strong>
                                        {% if level.beatsaverId %}
                                            <a href="https://beatsaver.com/beatmap/{{ level.beatsaverId }}" target="_blank" title="View on BeatSaver">
                                                {{ level.name }}
                                            </a>
                                        {% else %}
                                            {{ level.name }}
                                        {% endif %}
                                    </strong>
                                </td>
                                <td>
                                    {% if level.levelAuthor %}
                                        {{ level.levelAuthor }}
                                    {% elseif level.songAuthor %}
                                        {{ level.songAuthor }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td>
                                    {{ level.statPlayCount }}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </section>

            </div>

        </div>
    </main>
{% endblock %}