{% extends "_base.twig" %}

{% set tab = "home" %}
{% set hasHero = 1 %}

{% block content %}

    <div class="hero -pull-up">
        <div class="container">
            <h1>Beat Saber Server Browser</h1>
            <p class="lead">BSSB is a mod for Beat Saber that makes it easy to share and join multiplayer lobbies.</p>
            <div class="buttons">
                <a href="/download" class="btn -download" title="Download the Server Browser mod for Beat Saber">
                    <i class="mdi mdi-tray-arrow-down"></i> Download the mod
                </a>
                {% if config.enableGuide %}
                    <a href="/guide" class="btn -guide" title="Interactive guide for modded Beat Saber multiplayer">
                        <i class="mdi mdi-book-open-variant"></i> Multiplayer modding guide
                    </a>
                {% endif %}
            </div>
        </div>
    </div>

    <main class="frontpage-servers">
        <div class="container">
            {% if serverMessage %}
                <div class="alert" title="Service message">
                    <i class="mdi mdi-bullhorn-variant"></i>
                    <span>{{ serverMessage }}</span>
                </div>
            {% endif %}
            {% include "tables/hosted_games_table.twig" %}
            {% include "bits/paginator.twig" with {paginator: queryResult} %}
        </div>
        <div class="container-aside">
            <h3>
                <span>Latest updates</span>
            </h3>
            {% if changelogs and changelogs|length %}
                <ul class="timeline">
                    {% for changelog in changelogs %}
                        {% set title = changelog.getSiteDisplayTitle() %}
                        {% set text = changelog.getSiteDisplayText() %}
                        <li class="{{ changelog.isAlert ? "-alert" : "" }}">
                            <span class="time">{{ changelog.publishDate|timeago_html|raw }}</span>
                            <a href="{{ changelog.url }}" target="_blank" title="View Tweet">{{ title }}</a>
                            {% if text %}<p>{{ text }}</p>{% endif %}
                        </li>
                    {% endfor %}
                </ul>
                <a class="timeline-twitter" href="https://twitter.com/BSSBapp" target="_blank" title="@BSSBapp on Twitter">
                    <i class="mdi mdi-twitter"></i>
                    <span>View all updates on Twitter</span>
                </a>
            {% endif %}
        </div>
    </main>

{% endblock %}
