{% extends "pages/player-profile.base.twig" %}

{% block innerContent %}
    {% if privacyMode %}
        {% if not user.showHistory %}
            <div class="alert">
                <i class="mdi mdi-eye-off"></i>
                <strong>This player has disabled their game history.</strong>
            </div>
        {% else %}
            <div class="alert">
                <i class="mdi mdi-eye-off"></i>
                <strong>This player has never used the Server Browser mod, so their game history is hidden by default.</strong>
            </div>
        {% endif %}
    {% elseif not levelHistory or levelHistory|length == 0 %}
        <div class="alert -minor">
            <i class="mdi mdi-motion-play-outline"></i>
            <strong>No level history found for this user. Check back later.</strong>
        </div>
    {% else %}
        {% for level in levelHistory %}
            <div class="level-history" style="{% if level.coverUrl %}background-image: url('{{ level.coverUrl }}');{% endif %}">
                <div class="inner">
                    {% if level.coverUrl %}
                        <img class="cover-art" src="{{ level.coverUrl }}" alt="{{ level.levelName }}" loading="lazy"/>
                    {% else %}
                        <div class="cover-art dummy-cover-art">
                            <i class="mdi mdi-music"></i>
                        </div>
                    {% endif %}
                    <div class="text">
                        <div class="placement">
                            {% if level.placement == 1 and level.finishedPlayerCount == 1 %}
                                <i class="mdi mdi-medal"></i>
                                <span class="special">Played alone</span>
                            {% else %}
                                <i class="mdi mdi-medal"></i>
                                <span class="special">{{ level.placement }} of {{ level.finishedPlayerCount }}</span>
                            {% endif %}
                        </div>
                        <div class="song">
                            {{ level.songName }} <span class="by">by {{ level.songAuthor }}</span>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}